*{margin:0;padding:0;border:0}
*::after, *::before {
    -webkit-tap-highlight-color: transparent;
    -webkit-box-sizing: border-box;
}

ul,ol{list-style: none}
img{
    display: block;
    width: 100%;}
a {
    text-decoration: none;
    color: #282828;
}
input, textarea {
    resize: none;
    outline: none; /*-webkit-appearance: none;*/
}

.clearFix::before, .clearFix::after {
    content: '';
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    line-height: 0;
}
html,body{
    font-family:"微软雅黑";
    font-size:62.5%;}
h1,h2,h3,h4,h5,h6{
    font-weight:normal;}
header,nav,section,footer{
    display: block;}



/* 森系 */
.senxiNav{position:relative;}
.senxiSwiper-container1 {
    float:left;width:100%;  }
.senxiSwiper-wrapper1{
    width:90%!important;
}
.senxiSwiper-slide1{
    font-size:1.3rem;
    width:20%!important;
    text-align:center;
    line-height:50px;
    color:#909090;
    transition: all 0.5s;
}
.nav-right{
    position:absolute;
    z-index:1;
    top: 16px;right: 11px;
    width: 1.5rem;
    height: 1.5rem;
    background:url('../img/tip/nav-right-botton.png')no-repeat center center /contain;
    transition: all 0.3s;
}
.nav-right.transform{
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: all 0.6s;
    transition: all 0.3s
}
.nav-bottom{
    float:left;width:90%;
    display:none;
    /*background:#fff;*/
}
.nav-bottom li{
    float:left;
    width:20%;height:37px;
    line-height:26px;
    text-align:center;
    font-size:1.3rem;
}
.nav-bottom li a{color:#909090;}


/*当下最火*/
.center1{overflow:hidden;}
.cent1-top{
    margin:13px;}
.cent1-top-left{
    float:left;}
.cent1-top-left h1{
    padding-left:23px;
    font-size: 1.54rem;
    height:17px;
    line-height:18px;
    background:url('../img/tip/fabulous.png')no-repeat center left /contain;
}
.cent1-top-right{
    float:right;margin-top:1px;}
.cent1-top-right a{
    float:left;
    font-size: 1.3rem;
    height:14px;
    line-height:12px;
    padding-right:20px;
    background:url('../img/tip/senxi-cent1-top-right.png')no-repeat center right /contain;
}
.senxiSwiper-wrapper2{
    height: 100%!important;}

.senxiSwiper-slide2{
    text-align:center;
    line-height:100px;
    height:155px!important;
    box-sizing:border-box;
    border-left:2px solid white;
    border-right:2px solid white;
}


.senxiSwiper-slide2>div{
    overflow: hidden; border-radius: 5px;}
.senxiSwiper-slide2>p{text-align:center;line-height: 33px;
    font-size:1rem;}
.senxiSwiper-slide2>a{display:block;width:63px;height:22px; line-height:18px; border: 2px solid #909090; border-radius: 27px;margin:0 auto;box-sizing: border-box;}
.senxiSwiper-slide2>a>p{text-align:center;
    font-size: 0.7rem;}



/*最热、最新*/
.center3{margin-top:10px;}
.tabs1{height:31px;width: 87%;padding-top: 8px;text-align: center;float:left;}
.tabs1 .part{display:block;font-size:1.4rem;float:left;width:48%;color:#000;text-align:center;height: 2rem;
    line-height:2rem;}
.tabs1 span.active{border-bottom: 3px solid #eea069;}
.senxiSwiper-container3{width:100%;border-top:0;}
.senxiSwiper-wrapper3{height:100%!important;}
.senxiSwiper-slide3{width:100%;background:none;color:#373737;overflow: auto;height:100%!important;}
/*最热/最新 一栏右边图标*/
.cent3-nav-i{width:13%;text-align:center;height: 20px;margin:5px 0;float:left;border-left:1px solid #cacaca;box-sizing: border-box}
.cent3-nav-i span{display:block;width:100%;height:20px;background:url('../img/tip/PictureList.png')no-repeat center center /contain}
/*最新：主体*/
.senxiSlide3{width:100%;font-size:1.5rem;margin-top:11px;}
.senxiSlide3Content{margin:10px 2rem 0;}
.senxiSlide3-head>div{ float: left;}
.senxiSlide3-head>div .avatar{overflow: hidden;float: left;width:2.5rem;height:2.5rem;box-sizing:border-box;border:1px solid #000;border-radius: 50%}
.senxiSlide3-head>div p{font-size:1rem;float: left;line-height:30px;margin-left:8px;}
.senxiSlide3-head>span{
    font-size:1rem;
    display:block;
    float:right;
    width:55px;
    height:1.5rem;
    text-align:center;
    line-height:1.5rem;
    -webkit-border-radius:5px;
    border-radius:5px;
    background:skyblue;
    margin:5px 0;
}
.senxiSlide3-content{
    margin:5px 0;
}
.senxiSlide3-content p{
    font-size:1.5rem;
    line-height:20px;
}
.senxiSlide3-content a{
    display:block;
    overflow: hidden;
    width:100%;
    margin:6px auto;
    /*border:1px solid #000;*/
    border-radius:5px;
    box-sizing:border-box;
    position:relative;
}
.senxiSlide3-content a img{
    display:block;
    width:100%;
}
.senxiSlide3-content a div{
    width:100%;height:3.2rem;
    position:absolute;
    left:0;bottom:0;
    background:rgba(0,0,0,.7);
}
.senxiSlide3-content a div p{
    line-height:3.2rem;
    padding-left:.7rem;
    color: #e5e5e5;
}
/*最新/最热：分割线*/
.line{
    width:100%;
    border-top:1px solid #cacaca;
    margin-top:15px;
}
/*最热*/
.hottest{
    width:100%;font-size:1.5rem
}
.hottestContent{
    margin:10px 10px 0;
}
.hottest-head>div{
    float: left;
}
.hottest-head>div .avatar{
    overflow: hidden;
    float: left;
    width:30px;height:30px;
    box-sizing:border-box;
    border:1px solid #000;
    border-radius: 50%
}
.hottest-head>div p{
    font-size:1rem;
    float: left;
    line-height:30px;
    margin-left:8px;
}
.hottest-head>span{
    font-size:1rem;
    display:block;
    float:right;
    width:55px;
    height:19px;
    text-align:center;
    line-height:19px;
    -webkit-border-radius:5px;
    border-radius:5px;
    background:skyblue;
    margin:5px 0;
}
.hottest-content{
    margin:7px 0;overflow:hidden;
}
.hottest-content p{
    font-size:1.5rem;line-height:20px;
}
.hottest-content div{
    width:140px;
    margin:6px 0;
    overflow: hidden;
    /*border:1px solid #000;*/
    border-radius:5px;
}
.hottest-content div img{
    display:block;
}
/*三个按钮*/
.hottest-menu{
    height:20px;
    margin-top:20px;
    position:relative;
}
.hottest-menu>a{
    display:block;
    position:absolute;
    top:0;
}
.hottest-menu>a:first-child{
    left:20%;transform:translateX(-50%);
}
.hottest-menu>a:nth-child(2){
    left:50%;transform:translateX(-50%);
}
.hottest-menu>a:last-child{
    left:80%;transform:translateX(-50%);
}
.hottest-menu>a>p{
    text-align:center;
    font-size:1rem;
    height:17px;
    line-height:18px;
    padding-left:22px;
}
.hottest-menu a:first-child>p{
    background:url('../img/tip/forward.png')no-repeat center left /contain
}
.hottest-menu a:nth-child(2)>p{
    background:url('../img/tip/comment.png')no-repeat center left /contain
}
.hottest-menu a:last-child>p{
    background:url('../img/tip/fabulous1.png')no-repeat center left /contain
}

/*颜色条*/
.color-bar1{
    margin-top:6px;
    background: #eaf0e4;
    height:5px;
}
.color-bar2{
    margin-top:15px;
    background: #eaf0e4;
    height:5px;
}

/*添加/按钮*/
.ReleaseButton{
    background: rgba(0,0,0,0.5);
    width:4rem;height:2rem;
    border-radius: 10px;
    overflow: hidden;
    position:fixed;
    bottom:7rem;left:-10px;
    z-index:2;
}
.senxifloat{ background:url('../img/tip/brush.png') no-repeat center center /contain;
    width: 2rem;border-radius:50%;
    height: 2rem;margin-top:0;
    float: right;}
/*遮罩层1*/
.senxiPopup1{
    color:white;
    position: fixed;
    top:0;left:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
    z-index:9998;
}
.senxiPopup1-Title{ margin-top:20%; }
.senxiPopup1-Title p{
    font-size:2.3rem;
    line-height:30px;
    text-align:center;
}
.senxiPopup1-Title div{
    width:3rem;
    margin:10px auto 0;
    border:1px solid #fff;
}
/*按钮*/
.senxiPopup1-button{position:absolute;top:45%;width:100%;}
.senxiPopup1-button a{
    display:block;
    position:absolute;
    width:8rem;
    height:8rem;
    border-radius:50%;
    background:#4f9d5f;
    box-shadow: 0 0 19px #59826b;
}
.senxiPopup1-button a:first-child{left:30%;transform:translateX(-50%);}
.senxiPopup1-button a:last-child{left:70%;transform:translateX(-50%);}
.senxiPopup1-button a p{
    margin: 2rem  auto;
    width: 3rem;
    font-size:1.5rem;
    text-align:center;
    padding-top:38px;
}
.senxiPopup1-button a:first-child p{background:url('../img/tip/senxiPopup-button-article.png')no-repeat top center /contain;}
.senxiPopup1-button a:last-child p{background:url('../img/tip/senxiPopup-button-music.png')no-repeat top center /contain;}
/*关闭*/
.senxiPopup1-close{
    display:block;
    width:45px;height:45px;
    border: 1px solid #fff;
    box-sizing: border-box;
    /*background:#4f9d5f;*/
    border-radius:50%;
    position:absolute;
    bottom:3%;left:50%;
    transform:translateX(-50%);
    /*background:linear-gradient(top,#66B5E6,#2e88c0);*/

}
.senxiPopup1-close i{
    display:block;width:30px;height:30px;margin:7px auto;
    background:url('../img/tip/senxiPopup-close.png')no-repeat center center /contain;
}

/*遮罩层2*/
.senxiPopup2{
    position:fixed;
    top:0;left:0;
    width:100%;height:100%;
    background:#fff;opacity: 0;
    /*display:none;*/
    z-index:-9999;
}
.senxiPopup2-top{margin:1rem 0.5rem;}
.senxiPopup2-top a{float:left;margin:4px 0;}
.senxiPopup2-top a i{
    display:block;
    width:30px;height:22px;
    background:url('../img/tip/senxiPopup2-top-close.png')no-repeat center center /contain;
}
.senxiPopup2-top input{
    display:block;
    float:right;
    font-size:1rem;
    color:#6aa672;
    width:75px;height:30px;
    line-height:30px;
    text-align:center;
    border:1px solid #6aa672;
    background:transparent;
    box-sizing:border-box;
    border-radius:15px;
}
.senxiPopup2-content{margin:0 15px;}
.senxiPopup2-content>.senxiPopup2Textarea{margin-top:0.8rem}
.senxiPopup2-content>.senxiPopup2Textarea>textarea{width:100%;line-height: 18px;text-align: justify; }

.senxihidden{
    width: 100%;
    display: none;
    height: 1px;}
.senxiTouch1{display: block}
.senxiTouch2{display: none}

/*顶部tab栏切换*/
.swiperTab{/*position:relative;*/}
/*.senxiSwiper-wrapper1>div{float:left;width:20% ;}*/
/*.swiperTab>li{transition:all 0.4s;opacity:0;display:none;}*/
/*.swiperTab>li.swiperActive{opacity:1;transition:all 0.4s;display: block;}*/
.senxiSwiper-wrapper1>.swiperCurrent{color:skyblue;font-size:1.5rem;transition:all 0.4s;
   ;}
.senxiSwiper-wrapper1{ height: 100%!important}
.senxiSwiper-slide1{ height: 100%!important}

.senxiT{margin-top:6.5rem;margin-bottom:6.5rem}